@charset "utf-8";
/* CSS Document */

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .select2-search input[type=text][disabled], .select2-search input[type=text][readonly], fieldset[disabled] .select2-search input[type=text] {
	opacity: 1;
	background-color: #FFF;
	color: #333;
	border-color: #bdc3c7;
}

.Yuding1 .YuguBlock {
	margin-top: 20px;
	margin-bottom: 20px;
}

.Yuding1 .YuguBlock ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: solid 1px #adabab;
	border-bottom: solid 1px #adabab;
}

.Yuding1 .YuguBlock ul li {
	display: block;
	width: 50%;
	float: left;
}

.Yuding1 .YuguBlock ul li:first-of-type {
	border-right: solid 1px #adabab;
}

.Yuding1 .YuguBlock ul li .btn {
	font-size: 14px;
	display: block;
	background: #FFF;
	color: #4d4d4d;
	text-align: center;
	text-decoration: none;
	border-radius: 0;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
}

.Yuding1 .YuguBlock ul li .btn .fa {
	margin-right: 3px;
	color: #48c9b0;
}

.Yuding1 .YuguBlock ul li .btn:active {
	background: #1abc9c;
	color: #FFF;
}

.Yuding1 .Tips {
	position: relative;
	font-size: 14px;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 80px;
	color: #f32626;
	text-align: center;
}

.Yuding1 .Tips .BorderTop {
	position: absolute;
	top: 0;
	left: -1000px;
	width: 2000px;
	border-top: dashed 1px #e74c3c;
}

.Yuding1 .Tips .BorderLeft {
	position: absolute;
	top: 0;
	left: 0;
	height: 2000px;
	border-left: dashed 1px #e74c3c;
}

.Yuding1 .Tips .BorderBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2000px;
	border-bottom: dashed 1px #e74c3c;
}

.Yuding1 .Tips .BorderRight {
	position: absolute;
	top: -1000px;
	right: 0;
	height: 2000px;
	border-right: dashed 1px #e74c3c;
}

.Yuding1 form label {
	line-height: 1;
}

.Yuding1 form .input-group-addon {
	cursor: pointer;
}

.Yuding1 form .input-group-addon .fa {
	color: #FFF;
}

.Yuding1 .Chepai {
	color: #1abc9c;
}

.Yuding1 .FeiyongBlock {
	margin-top: 50px;
	margin-bottom: 15px;
}

.Yuding1 .FeiyongBlock .FeiyongShow {
	position: relative;
	border: solid 1px #eeeeee;
	border-radius: 0 5px 5px 5px;
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .FeiyongCaption {
	position: absolute;
	left: -1px;
	top: -28px;
	border: solid 1px #eeeeee;
	border-bottom-color: #FFF;
	font-size: 12px;
	line-height: 26px;
	border-radius: 5px 5px 0 0;
	padding: 0 10px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .FeiyongGuize {
	position: absolute;
	right: 0;
	top: -28px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .FeiyongGuize .fa {
	margin-left: 2px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .FeiyongGuize a {
	font-size: 14px;
	line-height: 28px;
	color: #1abc9c;
	text-decoration: none;
}

.Yuding1 .FeiyongBlock .FeiyongShow .FeiyongLeixing {
	margin-right: 20px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .FeiyongLeixing img {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-right: 3px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .Feiyong {
	font-size: 12px;
}

.Yuding1 .FeiyongBlock .FeiyongShow .Feiyong span {
	font-size: 20px;
	margin-right: 2px;
}

.Yuding1 .YuguBlock {
	margin-bottom: 20px;
}

.Yuding1 .CarInfoBlock {
	background: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
}

.Yuding1 .CarInfoBlock .CarImg {
	padding-left: 5px;
	padding-right: 5px;
}

.Yuding1 .CarInfoBlock .CarImg p {
	font-size: 14px;
	text-align: center;
	background: #e5e5e5;
	color: #414a59;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

.Yuding1 .CarInfoBlock .CarInfo {
	padding-left: 5px;
	padding-right: 5px;
}

.Yuding1 .CarInfoBlock .CarInfo p {
	margin-bottom: 0;
	font-size: 12px;
	color: #b8b8b8;
	line-height: 16px;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock {
	font-size: 12px;
	color: #b8b8b8;
	line-height: 16px;
	margin: 0;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock div[class^="col-"] {
	padding-left: 0;
	padding-right: 0;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .Dianliang {
	width: 40px;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .DianliangNum {
	padding-left: 5px !important;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .progress {
	margin-bottom: 0;
	margin-top: 2px;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .progress .progress-bar {
	width: 10%;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .progress.Progress1 .progress-bar {
	background: #db5565;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .progress.Progress2 .progress-bar {
	background: #f4ad49;
}

.Yuding1 .CarInfoBlock .CarInfo .DianliangBlock .progress.Progress3 .progress-bar {
	background: #4bd3a5;
}

.Yuding1 .CarInfoBlock .CarInfo p.CarName {
	font-size: 16px;
	line-height: 18px;
	color: #414a59;
	margin-bottom: 8px;
}

.Yuding1 .CarInfoBlock .CarInfo p.CarName .Fenge {
	margin: 0 3px;
}

.Yuding1 .CarInfoBlock .CarInfo p.CarName .CarType {
	color: #4bd3a5;
	float: right;
}

.Yuding1 .CarInfoBlock .CarInfo p.CarName .CarPrice {
	color: #f4ad49;
}

.Yuding1 .CarInfoBlock .CarInfoBlock .CarInfo p.CarName .CarPrice .Fenge {
	margin: 0 1px;
}

.Yuding1 .CarInfoBlock .CarInfo p.CarName .CarPrice .fa {
	margin-right: 1px;
}

.Yuding1 .OtherCaption {
	font-size: 14px;
	line-height: 40px;
}

.Yuding1 .FukuanButton {
	display: inline-block;
}

.Yuding1 .ReturnButton {
	background: #FFF;
	color: #1abc9c;
	text-decoration: none;
	padding: 24px 0 0;
	font-size: 12px;
}

.Yuding1 .ButtonGroup>div[class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.Yuding1 .ReturnBlock {
	padding-left: 0;
}

.Yuding1 .ReturnButton .fa {
	margin-right: 2px;
}
	
.CarImgBlock {
	box-shadow: 0 1px 3px #999;
	margin-bottom: 20px;
}

.Yuding2 .Chepai {
	color: #1abc9c;
	padding-bottom: 20px;
}

.Yuding1 .FapiaoInfo {
	display: none;
}

.Yuding1 .FapiaoInfo .FapiaoType .radio {
	display: inline-block;
	padding-left: 26px;
	margin-right: 10px;
}

.Yuding1 .FapiaoInfo .form-group {
	margin-bottom: 5px;
}

.Yuding1 .BottomButton {
	padding-top: 6px;
	background: rgba(255,255,255,0.8);
	bottom: 0;
	padding-bottom: 6px;
	box-shadow: 0 0px 10px #999;
}

.Yuding1 .SelectTypeBlock {
	margin-top: 10px;
	margin-bottom: 20px;
}

.Yuding1 .SelectTypeBlock label {
	padding-left: 0;
}

.Yuding1 .SelectTypeBlock .OtherCaption {
	margin-bottom: 0;
	line-height: 14px;
}

.Yuding1 .SelectTypeBlock .SelectType {
	text-align: center;
}

.Yuding1 .SelectTypeBlock .SelectType .btn.Selected {
	background: #48c9b0;
	color: #FFF;
}

.Yuding1 .SelectTypeBlock .TimeSelect {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	margin-top: 10px;
}

.Yuding1 .SelectTypeBlock .TimeSelect .form-group {
	margin-bottom: 5px;
}

.Yuding1 .SelectTypeBlock .TimeSelect .SelectTime {
	display: inline-block;
	text-align: center;
}

.Yuding1 .SelectTypeBlock .TimeSelect .Label {
	margin-top: 10px;
}

.Yuding1 .SelectTypeBlock .TimeSelect .Label.LabelLeft {
	text-align: right;
}

.Yuding1 .SelectTypeBlock .TimeSelect .SelectTime input {
	text-align: center;
}

.Yuding1 .SelectTypeBlock .TimeSelect .SelectTime  .input-group-addon {
	background: #FFF;
	color: #999;
}

.Yuding1 .SelectTypeBlock .TimeSelect .SelectTime  .input-group-addon .fa {
	color: #999;
}

.Yuding1 #unitCount {
	-webkit-appearance: none;
}

.Yuding2 .SubmitButton {
	margin-top: 30px;
	margin-bottom: 20px;
}

.Yuding2 p {
	font-size: 14px;
	margin-bottom: 5px;
}

.Yuding2 .TimeShow span {
	color: #959595;
}

.Yuding2 .AddressShow, .Yuding2 .CostShow {
	color: #959595;
}

.Yuding2 .AddressShow .fa, .Yuding2 .CostShow .fa {
	display: inline-block;
	width: 15px;
	color: #48c9b0;
}

.Yuding2 .CostShow span {
	color: #48d2a4;
	font-weight: bold;
}

.Yuding2 .CostShow {
	margin-bottom: 20px;
}

.Yuding1 .FapiaoShow {
	margin-bottom: 10px;
}

.Yuding3 h3 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 10px;
	color: #4bd3a5;
}

.Yuding3 p {
	font-size: 14px;
	margin-bottom: 0;
}

.Yuding3 p span {
	color: #8f8f8f;
}

.Yuding3 .Tips {
	margin-top: 50px;
	text-align: center;
}

.Yuding3 .Tips .fa {
	color: #4bd3a5;
	margin-right: 5px;
}

.Yuding3 .BottomButton .btn {
	text-decoration: none;
}

.Yuding3 .BottomButton .YudingButton {
	display: none;
}

.Yuding3 .LastTime {
	border: solid 1px #ffab18;
	background: #fffbf5;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	border-radius: 0;
	padding: 10px 0;
}

.Yuding3 .LastTime p {
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 0;
	color: #f32626;
}

.Yuding3 .LastTime h1 {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	color: #ffab18;
}

.Yuding3 .LastTime h1 span {
	font-size: 18px;
	margin: 0 3px;
	font-weight: normal;
}

.Yuding3 .LastTime>div[class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.Yuding3 .CancelButton {
	float: right;
	text-decoration: none;
	margin-top: 2px;
	color: #fca50f;
}

.Yuding3 .CancelButton .fa {
	margin-left: 3px;
}

.Yuding3 .Didian {
	text-align: center;
	color: #999;
	margin-bottom: 30px;
}

.Yuding3 .CarImgBlock {
	box-shadow: none;
}

.Yuding3 .ShengyuTip {
	text-align: center;
	color: #ffab18;
	font-size: 16px;
}