@charset "utf-8";
/* CSS Document */

body, html {
	height: 100%;
	background-attachment: fixed;
}

body {
	background: #4bd3a5;
	background: -webkit-radial-gradient(circle at 50% 25%,#4bd3a5,#339071);
	background: radial-gradient(circle at 50% 25%,#4bd3a5,#339071);
	background-size: cover;
}

.RegisterBlock {
	color: #FFF;
}

.RegisterBlock p {
	font-size: 14px;
	margin-right: 20px;
	margin-bottom: 0;
}

.RegisterBlock a {
	text-decoration: underline;
	color: #FFF;
}

.ErrorTip {
	color: #FFF;
	margin-bottom: 0;
	text-align: center;
}

.TipBlock {
	margin-top: 80px;
	clear:both;
}

.Border {
	border-radius: 10px;
	box-shadow: 0 0 15px #666;
	background: #FFF;
	padding: 2px 10px;
	position: relative;
	z-index: 1;
}

.Border input {
	width: 100%;
	border: none;
	font-size: 16px;
	line-height: 40px;
	height: 43px;
	box-shadow: none;
	border-radius: 0;
}

.Border input {
	border-bottom: solid 1px #bfbfbf;
	margin-bottom: 1px;
}

.Border .ButtonGroup {
	border-radius: 0 0 5px 5px;
	position: absolute;
	right: 20px;
	bottom: -42px;
	box-shadow: 0 5px 10px #318c6e;
}

.Border .btn {
	border-radius: 0 0 5px 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: #3fb88f;
	border-top: none;
	color: #FFF;
}

.Border .ButtonGroup .btn {
	height: 41px;
}

.Border .RegButton {
	color: #FFF;
	background: #f8b500;
	text-decoration: none;
	border-right: solid 1px #c48f02;
}

.Border .SubmitButton {
	border-left: solid 1px #42c498;
}

.LogoImg {
	margin-top: 15%;
	margin-bottom: 50px;
	max-width: 60%;
}

.WeChat {
	color: #FFF;
	padding-left: 24px;
}

.checkbox input[type=checkbox].custom-checkbox:checked+.icons .icon-checked, .radio input[type=checkbox].custom-checkbox:checked+.icons .icon-checked, .checkbox input[type=radio].custom-radio:checked+.icons .icon-checked, .radio input[type=radio].custom-radio:checked+.icons .icon-checked {
	color: #f5f5f5;
}

.CodeBlock {
	margin-left: 0;
	margin-right: 0;
}

.CodeBlock>div[class^="col-xs-"] {
	padding-left: 0;
	padding-right: 0;
}

.CodeBlock .CodeButton {
	background: #f8b500;
	color: #FFF;
	border: none;
	font-size: 14px;
	line-height: 43px;
	height: 43px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

.CodeBlock .CodeButton:disabled {
	background: #CCC;
}

@media (max-width: 640px){
.LogoImg {
	margin-top: 30px;
	margin-bottom: 30px;
}
}


