@charset "utf-8";
/* CSS Document */

body {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "微软雅黑", "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

a {
	color: #6dc6a9;
	text-decoration: underline;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .select2-search input[type=text][disabled], .select2-search input[type=text][readonly], fieldset[disabled] .select2-search input[type=text] {
	opacity: 1 !important;
	background: #FFF !important;
	border-color: #bdc3c7 !important;
	color: #34495e !important;
}

.BottomButton {
	position: fixed;
	bottom: 20px;
	left: 0;
	width: 100%;
}

.ErrorTip {
	color: #e74c3c;
}

.TopMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.TopMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #414a59;
}

.TopMenu ul li {
	list-style: none;
	padding: 5px 0;
	margin: 0;
	display: block;
	float: left;
}

.TopMenu ul li a {
	display: block;
	text-align: center;
	height: 30px;
}

.TopMenu ul li a .fa {
	color: #f5f5f5;
}

.TopMenu input[type="text"] {
	height: 30px;
}

.TopMenu .btn {
	height: 30px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 5px;
}

.TopMenu #search {
	-webkit-appearance: none;
	background: #4d5769;
	color: #FFF;
}

.TopMenu #search:focus {
	-webkit-appearance: none;
	border-color: #bdc3c7;
}

.TopMenu #searchDotButton {
	background: #4d5769;
}

.OneBlock {
	background: #FFF;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 10px;
	border-top: solid 1px #d7d7d7;
	border-bottom: solid 1px #d7d7d7;
}

.Loading {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 10000000;
}

.Loading .LoadingBlock {
	position: relative;
	width: 50%;
	left: 25%;
	top: 40%;
	background: #000;
	background: rgba(0,0,0,0.8);
	color: #FFF;
	text-align: center;
	padding: 20px 50px;
	border-radius: 5px;
}

.Loading .fa {
	color: #FFF;
}

.Loading2 {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 0;
	z-index: 10000000;
	background: rgba(0,0,0,0.8);
}

.Loading2 .LoadingBlock {
	top: 40%;
	position: relative;
	text-align: center;
}

.Loading2 .LoadingBackBlock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.Loading2 .LoadingBlock p {
	color: #FFF;
	font-size: 14px;
	line-height: 30px;
}

.Loading2 .LoadingBlock .LoadingImgBack {
	animation: Rotation 2.5s linear infinite;
	-moz-animation: Rotation 2.5s linear infinite;
	-webkit-animation: Rotation 2.5s linear infinite;
	-o-animation: Rotation 2.5s linear infinite;
}


.AlertBlock {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-align: center;
	background: rgba(66,74,89,.36);
}

.AlertBlock .AlertArea {
	top: 30%;
	position: relative;
	text-align: center;
}

.AlertBlock .AlertArea .AlertWindow {
	width: 80%;
	background: #424a59;
	margin: 0 auto;
}

.AlertBlock .AlertArea .AlertWindow p {
	color: #FFF;
	font-size: 16px;
	line-height: 20px;
	padding: 1.5em 1em;
	text-align: left;
}

.AlertBlock .AlertArea .AlertWindow .AlertButton {
	display: block;
	background: #3a414e;
	color: #cfcfcf;
	font-size: 16px;
	line-height: 40px;
	border: none;
	width: 100%;
}

.ChangeMapButton {
	position: fixed;
	bottom: 20px;
	right: 10px;
	border: none;
	background: #1abc9c;
	color: #FFF;
	text-align: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	padding: 0;
	z-index: 1000;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

.ChangeMapButton .fa {
	display: block;
	margin-top: 5px;
	font-size: 14px;
}

.ChangeMapButton:link, .ChangeMapButton:visited, .ChangeMapButton:hover, .ChangeMapButton:active {
	color: #FFF;
}

.ChangeMapButton:focus {
	outline: none;
}

@keyframes Rotation
{
from {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);	
	-o-transform: rotate(0);	
	-moz-transform: rotate(0);
}
to {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);	
	-o-transform: rotate(360deg);	
	-moz-transform: rotate(360deg);
}
}

@-moz-keyframes Rotation
{
from {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);	
	-o-transform: rotate(0);	
	-moz-transform: rotate(0);
}
to {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);	
	-o-transform: rotate(360deg);	
	-moz-transform: rotate(360deg);
}
}

@-webkit-keyframes Rotation
{
from {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);	
	-o-transform: rotate(0);	
	-moz-transform: rotate(0);
}
to {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);	
	-o-transform: rotate(360deg);	
	-moz-transform: rotate(360deg);
}
}

@-o-keyframes Rotation
{
from {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);	
	-o-transform: rotate(0);	
	-moz-transform: rotate(0);
}
to {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);	
	-o-transform: rotate(360deg);	
	-moz-transform: rotate(360deg);
}
}
	