@charset "utf-8";
/* CSS Document */

body {
	position: relative;
}

.CarInfoLink {
	position: absolute;
	top: 2px;
	right: 10px;
}

.CarInfoLink .fa {
	color: #666;
}

.TabsBlock {
	margin-top: 20px;
	margin-bottom: 20px;
}

.TabsBlock .TabUl {
	list-style: none;
	margin: 0;
	padding: 0;
}

.TabsBlock .TabUl li {
	display: inline-block;
	float: left;
	width: 50%;
}

.TabsBlock .TabUl li a {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #a0a0a0;
	border-radius: 15px;
	text-decoration: none;
	background: #FFF;
	border: solid 1px #f5f5f5;
}

.TabsBlock .TabUl li:first-of-type a {
	margin-right: 3px;
}

.TabsBlock .TabUl li.active a {
	background: #414a59;
	color: #FFF;
	border-color: #242e40;
}

.ShowStateBlock {
	margin-bottom: 20px;
}

.ShowStateBlock .Border {
	box-shadow: 0 0 10px #999;
	padding: 10px;
}

.ShowStateBlock .Border p {
	margin-bottom: 0;
	font-size: 14px;
}

.ShowStateBlock .Border .ShowTime {
	position: absolute;
	width: 100%;
	top: 66px;
	font-size: 36px;
	text-align: center;
}

.ShowStateBlock .Border .tab-pane {
	position: relative;
}

.ShowStateBlock .Border .Caption {
	font-size: 16px;
	margin-top: 10px;
}

.ShowStateBlock .Border .ShowTime .Unit {
	font-size: 24px;
	margin-left: 2px;
}

.ControlBlock {
	box-shadow: 0 0 10px #999;
	margin-bottom: 20px;
}

.ControlBlock ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: dotted 1px #eee;
}

.ControlBlock ul:last-of-type {
	border-bottom: none;
}

.ControlBlock ul li {
	float: left;
	width: 50%;
	padding: 0;
	margin: 0;
	border-right: dotted 1px #eee;
}

.ControlBlock ul li:last-of-type {
	border-right: none;
}

.ControlBlock ul li .btn {
	display: block;
	background: #FFF;
	color: #414a59;
	text-align: center;
	width: 100%;
	border-radius: 0;
	font-size: 14px;
	line-height: 40px;
	padding: 0;
	text-decoration: none;
}

.ControlBlock ul li .btn:hover {
	color: #414a59;
}

.ControlBlock ul li .btn:active {
	background: #48c9b0;
	color: #FFF;
}

.ControlBlock ul li .btn:active .fa {
	color: #FFF;
}

.ControlBlock ul li .btn .fa {
	margin-right: 5px;
	color: #84b9cb;
}

.CarInfoLink .fa.fa-exclamation-triangle {
	color: #c9171e;
}

.BottomButton .btn {
	text-decoration: none;
	color: #FFF;
}

.BottomButton .HuancheButton {
	background: #414a59;
}

.NoOrderBlock {
	margin-top: 50px;
}

.NoOrderBlock p {
	color: #CCC;
	margin-bottom: 50px;
}

.NoOrderBlock .YudingButton {
	text-decoration: none;
}

.CurrentInfo {
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	border: solid 1px #eee;
	margin-bottom: 20px;
}

.CurrentInfo>div[class^="col-"] {
	border-right: solid 1px #eee;
}

.CurrentInfo span {
	color: #1abc9c;
}

.CurrentInfo span .fa {
	margin-right: 2px;
}

.OrderBlock {
	margin-bottom: 60px;
}



.OrderBlock .panel-default>.panel-heading {
	font-size: 12px;
	padding: 6px 10px;
	font-weight: normal;
}

.OrderBlock .panel-title {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

.OrderBlock .panel-title a {
	text-decoration: none;
	color: #666;
	display: block;
}

.OrderBlock .panel-title a .label {
	padding: 2px 6px;
	margin-right: 5px;
}

.OrderBlock .panel-title a .fa {
	margin: 0 5px;
	color: #f0ad4e;
}

.OrderBlock .panel-title .LabelNo {
	background: #FFF;
	color: #999;
}

.OrderBlock .panel-body table {
	margin: 0;
	width: 100%;
}

.OrderBlock .panel-body table tr th, .OrderBlock .panel-body table tr td {
	font-size: 12px;
	
	line-height: 20px;
}

.OrderBlock .panel-body table tr th {
	width: 80px;
}

.OrderBlock .panel-body table tr td {
	color: #999;
}

.OrderBlock .panel-body table tr td .fa {
	margin-right: 3px;
}

@media (max-width: 640px){
.BottomButton	{
	padding-top: 10px;
	background: rgba(255,255,255,0.8);
	bottom: 0;
	padding-bottom: 10px;
	box-shadow: 0 0px 10px #999;
}
}