@charset "utf-8";
/* CSS Document */

.LogoImg {
	margin-top: 50px;
	border-radius: 50%;
	border: solid 1px #CCC;
	box-shadow: 0 2px 5px #666;
	margin-bottom: 30px;
}

.Tips {
	color: #6dc6a9;
	margin-top: 10px;
	font-size: 14px;
	margin-bottom: 30px;
}

.Tips ul {
	padding-left: 10px;
	margin: 0;
}

.PayBackNum {
	color: #6dc6a9;
}

.PayBackNum span {
	margin: 0 5px;
}

.SubmitButton {
	margin-bottom: 20px;
}