@charset "utf-8";
/* CSS Document */

body {
	margin-top: 10px;
	background: #eeeeee;
}

.PingfenBlock {
	font-size: 16px;
}

.PingfenBlock #target {
	color: #999;
}

textarea.form-control {
	border: none;
}

.SubmitButton {
	margin-top: 20px;
	text-decoration: none;
}