@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}

body {
	background-color: #000;
	background: url(../images/welcome/background.jpg) no-repeat center center;
	background-size: cover;
}

.LabelBlock {
	text-align: center;
	color: #c0c0c1;
	margin-top: 20%;
	margin-bottom: 50px;
}

.LabelBlock h2 {
	margin-bottom: 0;
	font-weight: normal;
}

.ImgBlock img {
	padding-left: 50px;
}