@charset "utf-8";
/* CSS Document */

.MapBlock  {
	position: relative;
}

.MapBlock .Map {
	width: 100%;
	background: #000;
}

.MapBlock .MapBottomButton {
	position: fixed;
	bottom: 40px;
	width: 100%;
}

.MapBlock .MapBottomButton .UseCarButton {
	background: #FFF;
	border: none;
	color: #464646;
}

.ChangeMapButton {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border-radius: 50%;
	border: none;
	text-align: center;
}

.MapBlock .TuijianBlock {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 1;
	text-align: center;
}

.MapBlock .TuijianBlock .CloseBlock {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.MapBlock .TuijianBlock .TuijianWindow {
	background: #FFF;
	border-radius: 0 0 3px 3px;
	border-top: solid 3px #64cfe9;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	z-index: 2;
	width: 80%;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
}

.MapBlock .TuijianBlock .TuijianWindow .CarImg {
	max-width: 60%;
}

.MapBlock .TuijianBlock .TuijianWindow .CarName {
	margin: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}

.MapBlock .TuijianBlock .TuijianWindow p {
	font-size: 12px;
	line-height: 16px;
	color: #858585;
	margin: 0;
}

.MapBlock .TuijianBlock .TuijianWindow p.Position i {
	color: #64cfe9;
	margin-right: 5px;
	font-size: 10px;
}

.MapBlock .TuijianBlock .TuijianWindow p .Price {
	margin-left: 20px;
}

.MapBlock .TuijianBlock .TuijianWindow .UseButtonBlock {
	margin-top: 20px;
}

.MapBlock .TuijianBlock .TuijianWindow .UseButtonBlock .uk-button {
	background: transparent;
	padding: 0;
}

.WangdianListBlock {
	margin-top: 10px;
}

.WangdianListBlock .ListUl li {
	box-shadow: 0 0 10px #dcdcdc;
	padding: 0;
	height: 79px;
	overflow: hidden;
	cursor: pointer;
}

.WangdianListBlock .ListUl li h4 {
	margin: 0;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.WangdianListBlock .ListUl li .Address {
	margin: 0;
	font-size: 12px;
	color: #858585;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.WangdianListBlock .ListUl li .Address .Distance {
	color: #64cfe9;
	margin-right: 10px;
}

.WangdianListBlock .ListUl li .Address .Distance i {
	margin-right: 2px;
}

.WangdianListBlock .ListUl li .ChakanButton {
	border-radius: 0;
	background: #64cfe9;
	border: none;
	height: 79px;
	font-size: 14px;
	line-height: 24px;
	padding: 0;
}

.WangdianListBlock .ListUl li .ChakanButton span {
	font-size: 10px;
}
