@charset "utf-8";
/* CSS Document */

.ListBlock {
	margin-top: 10px;
}

.ListBlock .CarListUl li {
	box-shadow: 0 0 10px #dcdcdc;
	padding: 10px;
	cursor: pointer;
}

.ListBlock .CarListUl li .CarImg {
	border-right: solid 1px #dcdcdc;
	padding-right: 10px;
}

.ListBlock .CarListUl li .CarImg img {
	margin-bottom: 0;
}

.ListBlock .CarListUl li .CarImg .CarNo {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	color: #4f4e4e;
	font-weight: bold;
}

.ListBlock .CarListUl li .CarName {
	color: #212121;
	margin: 0;
	margin-bottom: 10px;
}

.ListBlock .CarListUl li p {
	font-size: 12px;
	line-height: 16px;
	color: #858585;
	margin: 0;
}

.ListBlock .CarListUl li p .Price {
	float: right;
	color: #64cfe9;
}

.ListBlock .CarListUl li p .Price span {
	font-size: 18px;
	margin-right: 2px;
}
