@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "微软雅黑", "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

a:link, a :visited, a:hover, a:active {
	color: #6a6b6c;
	text-decoration: none;
	cursor: pointer;
}

.uk-button-primary, .uk-button-primary:focus, .uk-button-primary:hover {
	background: #64cfe9 !important;
	color: #FFF !important;
}

.uk-button-white {
	background: #FFF !important;
	color: #555656 !important;
	border-radius: 0;
	border: none;
}

.uk-container {
	padding-left: 10px;
	padding-right: 10px;
}

.WechatHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1;
}

.WechatHeader.MarginHeader {
	background: #FFF;
	box-shadow: 0 0 10px #dcdcdc;
}

.WechatHeader .HeaderButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding: 0;
	text-align: center;
	border: solid 1px #64cfe9;
	border-radius: 50%;
	color: #64cfe9;
}

.WechatHeader .PageCaption {
	font-size: 14px;
	line-height: 24px;
}

.BottomButton {
	position: fixed;
	bottom: 20px;
	left: 0;
	width: 100%;
}

.BoxShadow {
	box-shadow: 0 0 30px #f4f3f3;
}