@charset "utf-8";
/* CSS Document */

.PointName {
	color: #64cfe9;
	margin-top: 50px;
	margin-bottom: 40px;
}

.Tips {
	color: #64cfe9;
	margin: 0;
}

.BottomButton p {
	font-size: 12px;
	line-height: 1;
	margin: 0;
	margin-bottom: 10px;
	color: #afb0b0;
}