@charset "utf-8";
/* CSS Document */

.uk-form-row {
	position: relative;
}

.RightButton {
	position: absolute;
	right: 0;
	top: 0;
}

.input-group {
	display: inline-table;
	position: relative;
	border-collapse: separate;
	width: 100%;
}

.input-group .input-group-addon {
	width: auto;
	display: table-cell;
}

.input-group input {
	display: table-cell;
	width: 100%;
}

.uk-form legend {
	font-size: 12px;
	font-weight: normal;
	text-indent: 2em;
	padding-bottom: 0;
}

.uk-form legend:after {
	border-bottom: none;
}

.OneBlock {
	padding: 0 10px;
	margin-bottom: 20px;
}

.uk-form-row+.uk-form-row {
	margin-top: 0;
}

.uk-form input:not([type]), .uk-form input[type=text], .uk-form input[type=password], .uk-form input[type=email], .uk-form input[type=url], .uk-form input[type=search], .uk-form input[type=tel], .uk-form input[type=number], .uk-form input[type=datetime], .uk-form input[type=datetime-local], .uk-form input[type=date], .uk-form input[type=month], .uk-form input[type=time], .uk-form input[type=week], .uk-form input[type=color], .uk-form select, .uk-form textarea {
	border: none;
	border-bottom: solid 1px #f1f1f1;
	border-radius: 0;
	line-height: 30px;
	height: auto;
}

.uk-form input:not([type]):disabled, .uk-form input[type=text]:disabled, .uk-form input[type=password]:disabled, .uk-form input[type=email]:disabled, .uk-form input[type=url]:disabled, .uk-form input[type=search]:disabled, .uk-form input[type=tel]:disabled, .uk-form input[type=number]:disabled, .uk-form input[type=datetime]:disabled, .uk-form input[type=datetime-local]:disabled, .uk-form input[type=date]:disabled, .uk-form input[type=month]:disabled, .uk-form input[type=time]:disabled, .uk-form input[type=week]:disabled, .uk-form input[type=color]:disabled, .uk-form select:disabled, .uk-form textarea:disabled {
	background: transparent;
	border-bottom-color: #f1f1f1;
}

.JiebangButton {
	cursor: pointer;
	width: 40% !important;
}

.SubmitButton {
	margin-bottom: 20px !important;
}