@charset "utf-8";
/* CSS Document */

.ContentBlock .Border {
	border: solid 1px #4bd3a5;
}

.CenterInfo {
	margin-bottom: 30px;
}

.CenterInfo .Border {
	background: #effef9;
	padding-top: 20px;
	padding-bottom: 20px;
}

.CenterInfo .HeadImg {
	position: relative;
	width: 150px;
	height: 150px;
	border: solid 2px #8d8c8c;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
}

.CenterInfo .HeadImg:hover p {
	display: block;
}

.CenterInfo .HeadImg p {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #333;
	background: rgba(0,0,0,0.8);
	color: #FFF;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 0;
}

.CenterInfo h3 {
	color: #666666;
}

.CenterInfo h3 span {
	color: #fd3636;
	margin: 0 5px;
}

.CenterInfo .SubmitButton {
	margin-top: 20px;
	margin-right: 50px;
	padding: 10px 40px;
	font-size: 16px;
}

.CenterInfo .SubmitButton.disabled {
	background: #CCC;
}

.OrderInfo .Caption {
	color: #8d8c8c;
	text-indent: 1em;
	line-height: 40px;
	margin-top: 0;
	border-bottom: solid 1px #4bd3a5;
}

.OrderInfo .EmptyOrder {
	border: dashed 2px #d2d3d3;
	margin: 20px;
}

.OrderInfo .EmptyOrder p {
	margin: 50px auto;
	font-size: 20px;
	color: #8d8c8c;
}

.OrderInfo .EmptyOrder p a {
	color: #4bd3a5;
	margin-left: 10px;
	font-size: 24px;
}

.OrderInfo .EmptyOrder p a .fa {
	margin-left: 5px;
}

.OrderList table {
	text-align: center;
}

.OrderList table thead {
	background: #f2f1f1;
	
}

.OrderList table thead th {
	border-right: solid 1px #d2d2d2;
	text-align: center;
	border-bottom: none;
	font-size: 16px;
	font-weight: normal;
}

.OrderList table tbody a {
	color: #4bd3a5;
	text-decoration: none;
}