@charset "utf-8";
/* CSS Document */

.MainContent {
	padding: 50px 0;
	background: #f2f1f1;
}

.MainContent>.container {
	background: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
}

.MainContent .TitleImg {
	margin-bottom: 50px;
}

.ShenfenzhengImg, .JiazhaoImg {
	cursor: pointer;
}

.MainContent .btn {
	background: #56c796;
	color: #FFF;
	border-color: #FFF;
}

.MainContent .btn:hover {
	color: #FFF;
	background: #56c796;
}

.MainContent label {
	font-size: 16px;
	color: #383838;
}

.MainContent .wronghelp {
	color: #F00;
	font-size:14px;
}

.MainContent .wronghelp .fa {
	margin-right: 5px;
}

.avatar-view {
	width: auto;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #FFF;
	background: rgba(255,255,255,0.75);
}

.loading img {
	margin-top: 25%;
	margin-bottom: 10px;
}