@charset "utf-8";
/* CSS Document */

.ContentBlock .JineBlock {
	text-align: center;
	border-right: solid 1px #ededed;
}

.ContentBlock h4 {
	color: #9e9999;
	line-height: 30px;
}

.ContentBlock .JineBlock h4 span {
	color: #f1774d;
	margin-right: 5px;
}

.ContentBlock .SubmitButton {
	margin-top: 10px;
	margin-left: 25px;
}

.ContentBlock>div.row:first-of-type {
	margin-bottom: 50px;
}

.ContentBlock ul {
	border-top: solid 1px #CCC;
	padding-top: 50px;
}

.ContentBlock ul li {
	font-size: 14px;
	line-height: 24px;
	color: #9b9797;
}

.ContentBlock select {
	height: auto;
	padding: 0 12px;
}

.ContentBlock .QudaoTip {
	margin-right: 0;
	padding-right: 0;
	width: 150px;
}

.ContentBlock .btn-group .Selected {
	background: #4bd3a5;
    color: #FFF !important;
	border-color: #4bd3a5;
}

.ContentBlock .TijiaoButton {
	margin-bottom: 100px;
}