@charset "utf-8";
/* CSS Document */

.ContentBlock .help-block {
	color: #F00;
}

.ContentBlock .help-block .fa {
	margin-right: 5px;
}

.ContentBlock .StateBlock a {
	margin-left: 20px;
	color: #4bd3a5;
}

.ContentBlock .Tips {
	color: #fd3636;
	margin-bottom: 20px;
	margin-top: 20px;
}

.ContentBlock label {
	font-size: 16px;
	color: #6b6969;
}

.ContentBlock label span {
	color: #F00;
	margin-right: 5px;
}