@charset "utf-8";
/* CSS Document */

body {
	background: #f2f1f1;
}

.MainContent {
	margin-top: 15%;
}

.MainContent>.container {
	position: relative;
}

.MainContent img {
	margin-bottom: 20px;
}

.MainContent .ReturnButton {
	background: #fc5a34;
	color: #FFF;
	text-decoration: none;
}