@charset "utf-8";
/* CSS Document */

body {
	position: relative;
	background: #d9d9d9;
}

a.btn {
	text-decoration: none;
}

.PositionButton {
	position: absolute;
	top: 0;
	left: 10px;
}

.PositionButton .fa {
	color: #4d4d4d;
}

.OptionButton {
	position: absolute;
	top: 0;
	right: 10px;
}

.OptionButton .fa {
	color: #4d4d4d;
}

.UserImg {
	border: solid 1px #999;
	margin: 20px auto;
}

.UserName {
	font-size: 18px;
	margin: 0;
	margin-bottom: 5px;
}

.WelcomeTip {
	font-size: 14px;
	color: #a1a1a1;
}

.YueBlock {
	margin-bottom: 20px;
	border-left: solid 1px #e8e8e8;
	border-right: solid 1px #e8e8e8;
}

.YueBlock>div:first-of-type {
	border-left: solid 1px #e8e8e8;
}

.YueBlock>div:last-of-type {
	border-right: solid 1px #e8e8e8;
}

.YueBlock .Yue {
	font-size: 16px;
	line-height: 22px;
	color: #000;
	margin: 0;
}

.YueBlock .YueTip {
	font-size: 12px;
	color: #a9a9a9;
	margin: 0;
}

.TuikuanBlock {
	margin-bottom: 10px;
}

.TuikuanBlock .TuikuanButton {
	background: transparent;
	border: solid 1px #6dc6a9;
	color: #6dc6a9;
}

.ChongzhiBlock {
	margin-bottom: 20px;
}

.ChongzhiBlock .XinyongkaButton {
	background: #414a59;
	color: #FFF;
}

.ChongzhiBlock .btn .fa {
	margin-right: 5px;
}

.ChongzhiBlock>div[class^="col-"]:first-of-type {
	padding-right: 5px;
}

.ChongzhiBlock>div[class^="col-"]:last-of-type {
	padding-left: 5px;
}

.UserShowBlock {
	background: #FFF;
	box-shadow: 0 1px 3px #CCC;
	margin-bottom: 20px;
}

.ControlBlock .btn {
	background: #FFF;
	color: #4d4d4d;
	text-align: left;
	margin-bottom: 20px;
}

.ControlBlock .btn .fa {
	color: #dfdfdf;
	margin-top: 3px;
}