@charset "utf-8";
/* CSS Document */

.ListBlock .ListUl {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ListBlock .ListUl li {
	list-style: none;
	margin: 0;
	display: block;
	border-left: solid 3px transparent;
	padding: 5px 5px 5px 10px;
	font-size: 12px;
}

.ListBlock .ListUl li:nth-of-type(2n-1) {
	background: #f1f1f1;
	border-left-color: #4bd3a5;
}

.ListBlock .ListUl li table {
	width: 100%;
}

.ListBlock .ListUl li table tbody tr td:last-of-type {
	text-align: right;
	padding-right: 5px;
}

.ListBlock .ListUl li table tbody tr td {
	color: #606060;
	font-size: 12px;
	line-height: 18px;
}

.ListBlock .ListUl li table tbody tr:first-of-type td {
	font-size: 16px;
	line-height: 24px;
}

.ListBlock .ListUl li table tbody tr:first-of-type td .label {
	padding: 2px 10px;
	font-size: 12px;
}

.ListBlock .ListUl li table tbody tr td.Kongxian {
	color: #4bd3a5;
}

.ListBlock .ListUl li table tbody tr td.Dizhi {
	color: #747474;
}

.ListBlock .ListUl li table tbody tr:last-of-type td {
	color: #9d9d9d;
}

.MapBlock {
	width: 100%;
	height: 100%;
}

.ChangeMapButton {
	font-size: 14px;
	line-height: 20px;
	width: 50px;
	height: 50px;
}

.ChangeMapButton .fa {
	margin-top: 0;
}
