@charset "utf-8";
/* CSS Document */

body {
	background-color: #eeeeee;
	margin-top: 40px;
}

.TopMenu ul {
	box-shadow: 0 1px 3px #999;
	margin-bottom: 10px;
	background: #FFF;
	background: rgba(255,255,255,0.9);
}

.TopMenu ul li {
	padding: 0;
	cursor: pointer;
}

.TopMenu ul li a {
	display: block;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	color: #999;
}

.TopMenu ul li.active a {
	background: #414a59;
	color: #FFF;
	cursor: default;
}

.FilterBlock {
	font-size: 14px;
}

.FilterBlock .FilterSetButton>div[class^="col-"]:first-of-type {
	padding-right: 5px;
}

.FilterBlock .FilterSetButton>div[class^="col-"]:last-of-type {
	padding-left: 5px;
}

.FilterBlock .Border {
	background: #FFF;
	color: #a1a1a1;
	padding: 5px 10px;
	border-radius: 3px;
	box-shadow: 0 0 3px #999;
	position: relative;
}

.FilterBlock .Border span {
	color: #4bd3a5;
}

.FilterBlock .FilterButton {
	background: #414a59;
	color: #FFF;
	font-size: 8px;
	padding: 4px;
	height: 34px;
	box-shadow: 0 0 3px #999;
}

.FilterBlock .FilterButton .fa {
	display: block;
}

.FilterBlock .FilterSetButton {
	margin-bottom: 5px;
}
	
.FilterBlock .FilterSetBlock {
	display: none;
	margin-bottom: 10px;
}

.FilterBlock .FilterSetBlock .SelectTimeBlock>div:first-of-type form {
	border-bottom: solid 1px #cdcfd3;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.FilterBlock .FilterSetBlock .SelectTimeBlock input[type="text"], .FilterBlock .FilterSetBlock .SelectTimeBlock select {
	height: 26px;
	display: inline-block;
	width: 90px;
	border: solid 1px #CCC;
	padding: 0 5px;
}

.FilterBlock .FilterSetBlock .SelectTimeBlock select {
	width: 120px;
}

.FilterBlock .FilterSetBlock .SelectTimeBlock .SubmitButton {
	padding: 0 10px;
	font-size: 8px;
	line-height: 26px;
}

.FilterBlock .FilterSetBlock .Border .Arrow {
	position: absolute;
	color: #FFF;
	top: -10px;
	right: 30px;
	z-index: 1;
}

.datetimepicker .datetimepicker-months>table.table-condensed {
	width: 100%;
}

.ListBlock .ListUl {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ListBlock .ListUl li {
	background: #FFF;
	margin-bottom: 10px;
	padding: 0;
	font-size: 12px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	color: #999;
}

.ListBlock .ListUl li.NoList {
	padding: 10px 0;
	background: #fcf8e3;
}

.ListBlock .ListUl li.NoList .fa {
	color: #4bd3a5;
	margin-right: 5px;
}

.ListBlock .ListUl li .OrderInfo {
	font-size: 12px;
	padding: 5px;
	margin: 0;
}

.ListBlock .ListUl li .OrderInfo .OrderState {
	color: #31cc98;
}

.ListBlock .ListUl li .OrderLink {
	display: block;
	background: #f5f5f5;
	padding: 5px;
}

.ListBlock .ListUl li .OrderLink .row {
	margin-left: 0;
	margin-right: 0;
}

.ListBlock .ListUl li .OrderLink .row>div[class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.ListBlock .ListUl li .OrderLink .CarName {
	font-size: 14px;
	color: #152133;
	font-weight: normal;
	margin: 0;
	margin-bottom: 20px;
}

.ListBlock .ListUl li .OrderLink .CarName .CarPrice {
	color: #19c98d;
}

.ListBlock .ListUl li .OrderLink .CarName .CarPrice .fa {
	color: #19c98d;
	margin-right: 2px;
}

.ListBlock .ListUl li .OrderLink .CarTime {
	color: #cfcfcf;
}

.ListBlock .ListUl li .OrderLink .CarTime p {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
}

.ListBlock .ListUl li .PinglunButtonBlock {
	padding: 10px;
}

.ListBlock .ListUl li .PinglunButtonBlock .PinglunButton {
	background: #FFF;
	border: solid 1px #434c5b;
	text-decoration: none;
	color: #434c5b;
	padding: 5px 25px;
	font-size: 12px;
}