@charset "utf-8";
/* CSS Document */

.IconBlock {
	background: #ffe8c0;
	padding: 0;
	text-align: center;
	position: relative;
	height: 340px;
}

.IconBlock .CircleBlock {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	text-align: center;
}

.IconBlock .Circle {
	width: 240px;
	height: 240px;
	background: #ffd285;
	border-radius: 50%;
	margin: 0 auto;
}

.IconBlock .Circle1 {
	animation: Circle 3s linear infinite both;
	-moz-animation: Circle 3s linear infinite both;
	-webkit-animation: Circle 3s linear infinite both;
	-o-animation: Circle 3s linear infinite both;
}

.IconBlock .Circle2 {
	animation: Circle 3s linear 1s infinite both;
	-moz-animation: Circle 3s linear 1s infinite both;
	-webkit-animation: Circle 3s linear 1s infinite both;
	-o-animation: Circle 3s linear 1s infinite both;
}

.IconBlock .Circle3 {
	animation: Circle 3s linear 2s infinite both;
	-moz-animation: Circle 3s linear 2s infinite both;
	-webkit-animation: Circle 3s linear 2s infinite both;
	-o-animation: Circle 3s linear 2s infinite both;
}

.IconBlock .IconImgBlock {
	position: absolute;
	width: 100%;
	top: 95px;
	left: 0;
	text-align: center;
}

.IconBlock .IconImg {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.BottomButton a {
	text-decoration: none;
}

@keyframes Circle
{
from {
	transform: scale(0.625,0.625);
	opacity: 1;
}

to {
	transform: scale(1.2,1.2);
	opacity: 0;
}
}

@-moz-keyframes Circle
{
from {
	transform: scale(0.625,0.625);
	opacity: 1;
}

to {
	transform: scale(1.2,1.2);
	opacity: 0;
}
}

@-webkit-keyframes Circle
{
from {
	transform: scale(0.625,0.625);
	opacity: 1;
}

to {
	transform: scale(1.2,1.2);
	opacity: 0;
}
}

@-o-keyframes Circle
{
from {
	transform: scale(0.625,0.625);
	opacity: 1;
}

to {
	transform: scale(1.2,1.2);
	opacity: 0;
}
}