@charset "utf-8";
/* CSS Document */

.ListBlock .ListUl {
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	list-style: none;
}

.ListBlock .ListUl>li {
	margin-bottom: 2px;
	padding: 0;
	background: #f1f1f1;
}

.ListBlock .ListUl>li>a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #606060;
}

.ListBlock .ListUl>li>a h4 {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #3c3c3c;
	margin-top: 0;
	margin-bottom: 10px;
}

.ListBlock .ListUl>li>a h4 .KMBlock {
	float: right;
	font-size: 12px;
	color: #979797;
	line-height: 20px;
}

.ListBlock .ListUl>li>a h4 .KMBlock span {
	margin-right: 3px;
}

.ListBlock .ListUl>li>a .TypeUl {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	list-style: none;
	border-bottom: solid 1px #e8e8e8;
}

.ListBlock .ListUl>li>a .TypeUl>li {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 14px;
	color: #606060;
	line-height: 24px;
}

.ListBlock .ListUl>li>a .TypeUl>li .Icon {
	background: #999;
	display: inline-block;
	height: 24px;
	width: 24px;
	text-align: center;
	margin-right: 5px;
	padding: 0;
}

.ListBlock .ListUl>li>a .TypeUl>li .Icon img {
	margin-top: -4px;
	height: 24px;
}

.ListBlock .ListUl>li>a .TypeUl>li .Icon.PositionIcon {
	background: #eb4242;
}

.ListBlock .ListUl>li>a .TypeUl>li .Icon.CarIcon {
	background: #fdaf28;
}

.ListBlock .ListUl>li>a .TypeUl>li .DaohangButton {
	float: right;
	height: 24px;
	width: 48px;
	border: solid 1px #ffbc45;
	border-radius: 2px;
	text-align: center;
	background: transparent;
}

.ListBlock .ListUl>li>a .TypeUl>li .DaohangButton img {
	margin-top: -8px;
	height: 24px;
}

.ListBlock .ListUl>li>a p {
	font-size: 12px;
	line-height: 18px;
	color: #909090;
	margin: 0;
}