@charset "utf-8";

form{
	margin:0px;
	padding:0px;
}
textarea {
	margin : 0px;
	padding-left : 4px;
	width : 100%;
	height: 80px;
	line-height: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 12px;
	word-wrap:break-word;
	word-break:break-all;
}

.csbutton{
	width : auto;
	height : 28px;
	line-height : 22px;
	letter-spacing:.05em;
	font-size : 13px;
	font-family : 黑体;
	font-weight :bold;
	color : #535353;
	border:1px #a0a0a0 solid;
	vertical-align : middle;
	padding-left : 8px;
	padding-right : 8px;
	background:#efefef url(images/button.png) repeat-x center left ;
}
body{
	font-family : 微软雅黑;
}

a:visited {
	color:#215DC6;
	text-decoration: none;
}
a:link{color:#215DC6;	text-decoration: none;}
a:hover{
	color:#215DC6;
	text-decoration: underline;
}

.loading{
	text-align:left;
	margin-left:10px;
	color:red;
	padding:10px 0px 10px 25px;
	background:url(images/loading.gif) no-repeat left 10px;
}
.error {
	 font-size:12px; position:absolute; left:10px; top:37px; z-index:999;color:#F00;
}

.nNull{color:red;}
.inputfile {
	margin-left: 10px;
}

.inputfileshow {
	margin-left: 10px;
	width:120;
	height:120
}
.searchinputbut {
	cursor:pointer; 
	background:url(images/searchbtn.png) no-repeat; 
	width:30px; 
	height:30px; 
	border:none; 
	position:absolute; 
	z-index:9999999; 
	right:0; 
	margin-right:70px;
	top:11px;"
}