@charset "utf-8";
/* CSS Document */

.MainContent {
	padding: 150px 0;
	background: url(../images/lincense/background.jpg) no-repeat top center;
	background-attachment: fixed;
}

.MainContent>.container {
	background: #FFF;
	background: rgba(255,255,255,0.8);
	padding-top: 150px;
	padding-bottom: 50px;
	position: relative;
}

.MainContent h2 {
	margin-bottom: 50px;
}

.MainContent p {
	font-size: 16px;
	line-height: 30px;
	text-indent: 2em;
}

.MainContent .title1 {
	font-weight: bold;
}

.MainContent .title2 p {
	margin-left: 2em;
}

