@charset "utf-8";
/* CSS Document */

body {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "微软雅黑", "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

.Header .navbar-text {
	padding-top: 0;
	padding-bottom: 0;
}

.MainContent {
	padding: 100px 0;
	background: #f2f1f1;
}

.MainContent>.container {
	background: #FFF;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.LeftBlock {
	border-right: solid 3px #c9f2e4;
}

.LeftBlock .IntroBlock {
	margin-bottom: 30px;
}

.LeftBlock .IntroBlock h2 {
	margin-top: 0;
	color: #42ba91;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: normal;
}

.LeftBlock .IntroBlock h2 img {
	margin-left: 5px;
}

.LeftBlock .IntroBlock h4 {
	color: #818181;
	text-indent: 2em;
	font-size: 18px;
	font-weight: normal;
}

.LeftBlock .QrCodeBlock p {
	font-size: 16px;
	color: #656564;
}

.RightBlock .LoginBlock {
	margin-top: 20px;
}

/*.LoginBlock .Infro .fa {
	display: inline-block;
	background: #42ba91;
	color: #FFF;
	width: 40px;
	height: 40px;
	line-height: 44px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.LoginBlock .Infro input {
	display: inline-block;
	height: 40px;
	width: 83%;
	border: solid 1px #42ba91;
	background: #f0f0f0;
	font-size: 18px;
	color: #666;
	text-indent: 1em;
	margin-top: 5px;
}*/

.LoginBlock .Remember label {
	color: #666;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-size: 16px;
}

.LoginBlock .ForgetButton {
	color: #42ba91;
	text-decoration: none;
	font-size: 16px;
}

.LoginBlock .DengluButton {
	color: #FFF;
	font-size: 18px;
	background: #42ba91;
	border-radius: 0;
	margin-bottom: 10px;
}

.LoginBlock .Remember {
	margin: 15px 0;
	line-height: 1.1;
}

.LoginBlock .Infro .input-group-addon {
	background: #42ba91;
	color: #FFF;
	border-color: #42ba91;
	border-radius: 0;
	width: 40px;
}

.LoginBlock .Infro .input-group {
	width: 100%;
}

.LoginBlock .Infro input {
	border-color: #42ba91;
	border-radius: 0;
}

.LoginBlock .Zhuce {
	color: #999;
	font-size: 14px;
}

.LoginBlock .ZhuceButton {
	color: #f3922b;
	text-decoration: none;
}

.LoginBlock .help-block {
	color: #F00;
}