@charset "utf-8";
/* CSS Document */

.ContentBlock h4 {
	color: #4bd3a5;
	margin-bottom: 50px;
}

.ContentBlock .ChargeSelect {
	font-size: 20px;
	color: #807d7d;
}

.ContentBlock .ChargeSelect select {
	display: inline-block;
	width: auto;
	margin: 0 10px;
}

.SubmitButton {
	margin: 30px auto 60px auto;
	padding: 5px 20px;
}

.TipBlock>.row>div {
	padding-left: 5px;
	padding-right: 5px;
}

.TipBlock p {
	font-size: 16px;
	line-height: 24px;
	color: #a6a5a5;
	margin-bottom: 0;
}

.ContentBlock .ChargeSelect .SelectBlock {
	margin-bottom: 20px;
}

.ContentBlock .ChargeSelect .SelectBlock .btn {
	border-radius: 0;
}

.ContentBlock .ChargeSelect .SelectBlock .btn.Selected {
	background: #4bd3a5;
    color: #FFF !important;
	border-color: #4bd3a5;
}

.InfoBlock {
	margin-top: 50px;
}

.InfoBlock .row {
	margin-bottom: 10px;
}

.InfoBlock .fa {
	margin-right: 3px;
}