<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
    <tlibversion>1.1</tlibversion>
    <jspversion>1.2</jspversion>
    <shortname>webwork</shortname>
    <uri>webwork</uri>
    <info>A tag library for processing Model-2 command results</info>

    <tag>
        <name>action</name>
        <tagclass>com.opensymphony.webwork.views.jsp.ActionTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>
            Executes an Action from within the context of a taglib.
            The body of the tag is used to display the results of
            the action invocation.
        </info>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>namespace</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>executeResult</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>include</name>
        <tagclass>com.opensymphony.webwork.views.jsp.IncludeTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Used to include another page or action.</info>
        <attribute>
            <name>page</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>bean</name>
        <tagclass>com.opensymphony.webwork.views.jsp.BeanTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>
            Create a JavaBean and instantiate its properties. It
            is then placed in the ActionContext for later use.
        </info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>set</name>
        <tagclass>com.opensymphony.webwork.views.jsp.SetTag</tagclass>
        <bodycontent>empty</bodycontent>
        <info>
            Sets the value of an object in the VS to a scope
            (page, stack, application, session). If the value
            is not given, the top of the stack is used. If the
            scope is not given, the default scope of "webwork"
            is used.
        </info>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>scope</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>property</name>
        <tagclass>com.opensymphony.webwork.views.jsp.PropertyTag</tagclass>
        <bodycontent>empty</bodycontent>
        <info>
            Used to get the value of a result attribute.
            If the value isn't given, the top of the stack will
            be returned.
        </info>
        <attribute>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>default</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>escape</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>param</name>
        <tagclass>com.opensymphony.webwork.views.jsp.ParamTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>
            Sets a parent tag's parameter.
        </info>
        <attribute>
            <name>name</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>if</name>
        <tagclass>com.opensymphony.webwork.views.jsp.IfTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Evaluates a boolean expression</info>
        <attribute>
            <name>test</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>elseIf</name>
        <tagclass>com.opensymphony.webwork.views.jsp.ElseIfTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Evaluates a boolean expression</info>
        <attribute>
            <name>test</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <!-- 2.0 version of elseif -->
    <tag>
        <name>elseif</name>
        <tagclass>com.opensymphony.webwork.views.jsp.ElseIfTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Evaluates a boolean expression</info>
        <attribute>
            <name>test</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>else</name>
        <tagclass>com.opensymphony.webwork.views.jsp.ElseTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Evaluates a boolean expression</info>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    
    <tag>
	    <name>token</name>
	    <tagclass>com.opensymphony.webwork.views.jsp.ui.TokenTag</tagclass>
	    <bodycontent>JSP</bodycontent>
	    <info>Stop double-submission of forms</info>
	    <attribute>
	      <name>accesskey</name>
	      <required>false</required>
	      <rtexprvalue>false</rtexprvalue>
	    </attribute>
	</tag>

    <tag>
        <name>iterator</name>
        <tagclass>com.opensymphony.webwork.views.jsp.IteratorTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Iterates over a collection</info>
        <attribute>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>status</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    
    
</taglib>