@charset "utf-8";
/* CSS Document */

.MainContent {
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.InfoBlock {
	position: relative;
}

.InfoBlock .CircleBG {
	height: 250px;
	width: 250px;
	border: solid 3px #fdfbfb;
	border-radius: 50%;
	margin: 0 auto;
}

.InfoBlock .InfoBorder {
	box-shadow: 0 0 30px #e9e8e8;
	margin-top: -180px;
	border-radius: 5px;
	height: 102px;
	overflow: hidden;
}

.InfoBlock .InfoBorder p {
	margin: 0;
	line-height: 1;
}

.InfoBlock .InfoBorder>div>p:first-of-type {
	margin-bottom: 10px;
}

.InfoBlock .InfoBorder .LeftBlock, .InfoBlock .InfoBorder .RightBlock {
	padding: 10px;
}

.InfoBlock .InfoBorder .LeftBlock {
	position: relative;
	background: #FFF;
	color: #555552;
}

.InfoBlock .InfoBorder .LeftBlock p {
	font-size: 8px;
}

.InfoBlock .InfoBorder .LeftBlock .Number {
	font-size: 36px;
}

.InfoBlock .InfoBorder .LeftBlock .Unit {
	font-size: 12px;
	margin-right: 5px;
}

.InfoBlock .InfoBorder .Number {
	font-family: Arial, Helvetica, sans-serif;
}

.InfoBlock .InfoBorder .LeftBlock .Number {
	margin-right: 2px;
}

.InfoBlock .InfoBorder .LeftBlock .LineImg {
	position: absolute;
	right: -18px;
	top: 0;
}

.InfoBlock .InfoBorder .RightBlock {
	color: #FFF;
	background: #64cfe9;
	padding: 0;
}

.InfoBlock .InfoBorder .RightBlock p {
	font-size: 12px;
}

.InfoBlock .InfoBorder .RightBlock .Money {
	text-align: center;
	font-size: 16px;
	margin: 0;
	margin-top: 24px;
}

.InfoBlock .InfoBorder .RightBlock .Money .Unit {
	font-size: 20px;
	margin-right: 3px;
}

.InfoBlock .InfoBorder .RightBlock .Money .Number {
	font-size: 48px;
}

.InfoBlock .InfoBorder .RightBlock .Label {
	position: absolute;
	right: 10px;
	bottom: 14px;
}

.InfoBlock .DingdanDetail {
	float: right;
	margin-top: 10px;
	font-size: 12px;
	color: #f7bd0e;
	text-decoration: none;
}

.InfoBlock .DingdanDetail i {
	margin-left: 3px;
}

.ListBlock {
	margin-top: 100px;
	margin-bottom: 30px;
}

.ListBlock .OneBlock {
	background: #FFF;
	box-shadow: 0 0 30px #f4f3f3;
	margin-bottom: 5px;
}

.ListBlock .OneBlock .TitleBlock {
	background: #FFF;
	border-radius: 0;
	border: none;
	box-shadow: 0 0 30px #f4f3f3;
	margin-bottom: 0;
	vertical-align: text-bottom;
}

.ListBlock .OneBlock .TitleBlock .Type {
	font-size: 16px;
	color: #555552;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ListBlock .OneBlock .TitleBlock .Cost {
	font-size: 12px;
	color: #959393;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ListBlock .OneBlock .TitleBlock .Cost span {
	font-size: 16px;
}

.ListBlock .OneBlock .TitleBlock .State {
	vertical-align: middle;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ListBlock .OneBlock .TitleBlock .State .uk-badge {
	margin-top: -3px;
}

.ListBlock .OneBlock .ContentBlock {
	padding: 10px;
}

.ListBlock .OneBlock .ContentBlock ul li {
	font-size: 12px;
	line-height: 18px;
	color: #787877;
}

.ListBlock .OneBlock .ContentBlock ul li span {
	color: #969696;
}

.MenuBlock {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.MenuBlock .Arrow {
	position: absolute;
	top: 24px;
	left: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.MenuBlock .Arrow i {
	color: #64cfe9;
}

.MenuBlock .MenuButton {
	background: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.MenuBlock .MenuButton button {
	background: #FFF;
	border: none;
	margin: 10px 0;
}

.MenuBlock .MenuButton button img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #FFF;
	border: solid 1px #bababa;
}

.MenuBlock .MenuButton button p {
	font-size: 14px;
	color: #969798;
	margin: 5px 0;
}

@media (max-width: 400px){
.MenuBlock .Arrow {
	top: 	16px;
}
}
