@charset "utf-8";
/* CSS Document */

.Cost {
	color: #64cfe9;
	margin-top: 50px;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.Cost i {
	font-size: 16px;
	margin-right: 3px;
	font-weight: normal;
}

.Tips {
	color: #64cfe9;
	margin: 0;
}

.TipBlock .TipButton {
	background: #FFF;
	color: #64cfe9;
	border-color: #64cfe9;
	cursor: default;
	margin-top: 20px;
}

.TipBlock {
	padding-left: 0;
}

.TipBlock .TipUl li {
	font-size: 12px;
	line-height: 16px;
	color: #a8a8a8;
	text-align: left;
	font-weight: normal;
	margin-bottom: 5px;
	list-style :inside;
}