@charset "utf-8";
/* CSS Document */

.Section1 {
	background: url(../images/app/Background.jpg) no-repeat top center;
	padding: 100px 0;
	margin-bottom: 100px;
}

.Section1 .ContentBlock {
	position: relative;
}

.Section1 .FloatImg {
	position: absolute;
	right: 50px;
	top: 0;
}

.Section1 .LogoBlock p {
	color: #e5e5e5;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}

.Section1 .TitleBlock h1 {
	margin: 0;
	color: #f9f9f9;
	font-size: 45px;
	line-height: 1.3;
}

.Section1 .TopBlock {
	border-bottom: dotted 1px #999;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.Section1 .DownloadBlock .btn {
	background: #78be63;
	background: rgba(255,255,255,0.4);
	border: solid 1px #f9f9f9;
	border-radius: 3px;
	color: #f9f9f9;
	font-size: 24px;
	margin: 20px auto;
}

.Section1 .DownloadBlock .btn .fa {
	margin-right: 20px;
}

.Section2 {
	padding-bottom: 100px;
}

.Section2 .container {
	position: relative;
}

.Section2 h1 {
	margin-top: 50px;
}

.Section2 h4 {
	margin-bottom: 40px;
}

.Section2 .LiuchengBlock {
	margin-bottom: 30px;
}

.Section2 .LiuchengBlock h3 {
	margin-bottom: 20px;
	margin-top: 30px;
}

.Section2 .LiuchengBlock h3 span {
	color: #4bd3a5;
	margin-right: 5px;
}

.Section2 .LiuchengBlock p {
	font-size: 16px;
	line-height: 24px;
	padding: 0 20px;
}

.Section2 .LiuchengBlock p a {
	color: #4bd3a5;
	text-decoration: none;
}

.Section2 .LiuchengBlock .fa {
	position: absolute;
	right: 0;
	top: 25%;
	color: #4bd3a5;
}

.Section2 .LijiZhuceButton {
	background: #4bd3a5;
	color: #FFF;
}