@charset "utf-8";
/* CSS Document */

body,div,article,section,header,footer,figure,p,time,ul,li,form,input,button,select,table,tr,th,td,h1,h2,h3,h4,h5,dl,dt,dd{
	margin:0;
	padding:0;
	font-family: "微软雅黑", 'Microsoft Yahei','HelveticaNeue',sans-serif;	
}

body{background-color:#ffffff;}
ul,li{list-style:none;}
input,button{border:0 none;}
input:focus, select:focus, input:active{ outline:none;}
h1,h2,h3,h4,h5{font-weight:normal;}
em{font-style:normal;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.clearfix:after{content:""; display:block; clear:both; height:0; font-size:12px;}

/*活动*/
.header{ width:100%; reg_tposition: relative; line-height: 2.7em; text-align: center; font-size: 1.2em;color: #fff; background:#3CB8F6; }
.header .back{ display: block; position: absolute; top:0 ; left: 0; width: 2.5em; height: 2.6em; font-size: 1em; background:url(../imgs/return.png) center no-repeat; background-size:auto 45%;}
.activ_pic {float:left; width:90%; margin:5% 5% 0 5%;}
.activ_pic img{ width:100%;}
/*活动 end*/
/*注册领券*/
.reg_t {width:100%; border:0; background:#ffffff; border-bottom:1px solid #F1DE65;}
.reg_t img{ width:100%;  border:0;}
.reg_t .regi_box { width:100%;padding:0; margin:0;}
.reg_t .regi_box .pics { width:40%;padding:0; margin:5% 30%;}
.reg_t .regi_box .pics img{ width:100%;}
.reg_t .regi_box .regi_an{ float:left; width:50%; margin:5% 25%; padding:3% 0; text-align:center; font-size:1.5em; color:#fff; background-color:#3CB8F6; border-radius:0.4em;}
.reg_t .regi_box p{ width:100%; font-size:1.2em; text-align:center; color:#0D0E08;}
.reg_l { width:40%; position:absolute; left:30%; top:60%;color:#ffffff; background-color:#000000; opacity:0.8;filter:alpha(opacity=80); text-align:center; padding:2% 0; font-size:1.1em;}                                                                                                        
/*注册领券 end*/
.activiti_box { float:left; width:100%; height:auto; border:0; padding:0; margin:0;}
.activiti_box img { width:100%;}
/*高考*/
.entrance_a { width:98%; margin:0 1%;} 
.entrance_a img{ width:100%;}
.entrance_b { width:70%; margin:0 15%;}
.entrance_b input { width:100%; color:#999999;  font-size:1.7em; padding:0.2em 0; margin-bottom:1em; text-align:center;}
.entrance_b .sub_tijiao { width:80%; font-size:1.7em; padding:0.5em 0; margin:5% 10% 5% 10%; text-align:center; background:#0091F7; color:#ffffff; border-radius:1em;}
.entrance_b a { float:left; width:100%; text-align:center; font-size:1.6em; padding:0.5em 0; color:#0091F7; text-decoration:underline;}
.entrance_c { width:96%; margin:2%;font-size:1.3em;}
.entrance_c .biaotou{ margin-top:2%; }
.entrance_c .neirong{ margin-top:2%; margin-bottom:1%; }
.entrance_c .neirong a{ padding:1% 2%; background:#5076DF; color:#ffffff;  border-radius:1em; }
.entrance_c .neirong span { color:#F00;}
.entrance_d { width:100%;} 
.entrance_d img{ width:100%;}
.zhezhao { width:40%; background-color:#000000; font-size:1.7em; text-align:center; left:30%; color:#ffffff; top:70%; padding:2% 0; filter: alpha(opacity=7); opacity: 0.7; z-index: 10; position:absolute; display: none;} 



@media screen and (min-width:360px) and (max-width:409px){
.header{line-height: 2.7em;font-size: 1.2em;}
.header .back{width: 2.5em; height:2.6em;}
.reg_t .regi_box .regi_an{font-size:1.5em; }
.reg_t .regi_box p{ font-size:1.2em;}
.reg_l { font-size:1.1em}
.entrance_b input { font-size:1.7em;}
.entrance_b .sub_tijiao { font-size:1.7em;}
.entrance_b a {font-size:1.8em;}
.entrance_c { font-size:1.3em;}
}

@media screen and (min-width:410px) and (max-width:639px){
.header{line-height: 2.7em;font-size: 1.4em;}
.header .back{width: 2.7em; height:2.8em;}
.reg_t .regi_box .regi_an{font-size:1.8em; }
.reg_t .regi_box p{ font-size:1.4em;}	
.reg_l { font-size:1.3em}
.entrance_b input { font-size:1.9em;}
.entrance_b .sub_tijiao { font-size:1.9em;}
.entrance_b a {font-size:2em;}
.entrance_c { font-size:1.5em;}
}

@media screen and (min-width:640px){
.header{line-height: 3em;font-size: 1.8em;}
.header .back{width: 2.9em; height:3em;}
.reg_t .regi_box .regi_an{font-size:2em; }
.reg_t .regi_box p{ font-size:1.6em;}
.reg_l { font-size:1.5em}
.entrance_b input { font-size:2.1em;}
.entrance_b .sub_tijiao { font-size:2.1em;}
.entrance_b a {font-size:2.2em;}
.entrance_c { font-size:1.8em;}	
}