@charset "UTF-8";
/* 账户余额 */

body,div,article,section,header,footer,figure,p,time,ul,li,form,input,button,select,table,tr,th,td,h1,h2,h3,h4,h5,dl,dt,dd{
	margin:0;
	padding:0;
	font-family: "微软雅黑", 'Microsoft Yahei','HelveticaNeue',sans-serif;	
}

body{background-color:#ffffff;}
ul,li{list-style:none;}
input,button{border:0 none;}
input:focus, select:focus, input:active{ outline:none;}
h1,h2,h3,h4,h5{font-weight:normal;}
em{font-style:normal;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.clearfix:after{content:""; display:block; clear:both; height:0; font-size:12px;}
.txtl{text-align:left !important;}
.txtc{text-align:center !important;}
.txtr{text-align:right !important;}
.txt_in1{text-indent: 1em;}
.txt_in2{text-indent: 2em;}
.f_red{color: #ed2626 !important;}
.fl{ float:left;}
.fr{ float:right;}
.d_none{ display:none;}
.d_line{ display: inline;}
.d_inb{ display: inline-block;}
.w100{width: 100% !important;}
.w45{width: 45% !important;}
.w47{width: 47% !important;}
.w70{width: 70% !important;}
.w18{width: 18% !important;}
.w22{width: 22% !important;}
.w25{width: 25% !important;}
.w20{width: 20% !important;}
.w30{width: 30% !important;}
.w31{width: 31% !important;}
.w43{width: 43% !important;}
.w52{width: 52% !important;}
.w50{width: 50% !important;}
.m_b1{margin-bottom: 1em;}
.m_b05{margin-bottom: 0.5em !important;}
.m_b5p{margin-bottom: 5px !important;}
.m_t05{margin-top: 0.5em;}
.m_t1{margin-top: 1em !important;}
.m_l1{margin-left: 1em !important;}
.p_t1{padding-top: 1em !important;}
.bor_b{border-bottom:#e9e7f0 solid 1px !important; }
.bor_t{border-top:#e9e7f0 solid 1px !important; }
.bor_bn{border-bottom: 0 !important;}
.bg_none{background-image: none !important; }
.pageinbox { padding:1% 3%;}
.toponname {color:#333333; font-size:1em; line-height:2.5em;}
.fnegxiang{ position:relative; font-size:0.9em; width:100%; height:1em; text-align:center; border-bottom:1px solid #bababa;}
.fnegxiang .fxspan { position:absolute; background:#ffffff;  padding:1% 5% ; z-index:10; left:38%; }

.bjinbox {position:relative; width:90%;height:auto; background:url(../images/a-22.png) top center no-repeat;  background-size: 100% auto; margin:0 5% 0 5%; top:1em; color:#666666;font-size:0.8em;}
.onets{padding:45% 0 0 10%; }
.bjinbox .onets span{color:#F49B41;}
.bjinbox .twots{padding:18% 0 0 20%; }
.bjinbox .twots span{color:#F49B41;}
.bjinbox .threets{padding:10% 0 0 60%; }
.bjinbox .threets span{color:#F49B41;}
.bjinbox .frouts{padding:5% 0 0 15%; }
.bjinbox .frouts span{color:#F49B41;}
.frowbox { padding-top:15%; }
.anniudiv { float:left; width:40%; padding:4% 5% 0 5%; top:0; }
.anniudiv img{ width:100%; height:auto;}

/*loading页面*/
.loadingbox { width:50%; margin:auto; padding:30% 0 10% 0;}
.loadingbox img {width:100%; height:auto;}
.loadingbox .textioad{width:100%; line-height:3em; text-align:center; font-size:1.2em; }
@media screen and (min-width:360px) and (max-width:409px){
.pageinbox { padding:1% 3%;}
.toponname { font-size:1.2em; line-height:2.0em;}
.fnegxiang{ font-size:1em; }
.fnegxiang .fxspan { padding:1% 5% ; }
.bjinbox {top:1em; font-size:0.8em;}
.frowbox { padding-top:15%; }
}
@media screen and (min-width:410px) and (max-width:479px){
.pageinbox { padding:3%;}
.toponname { font-size:1.6em; line-height:2.4em;}
.fnegxiang{ font-size:1.2em; }
.fnegxiang .fxspan { padding:1% 5% ; }
.bjinbox {top:1em; font-size:1.0em;}
.frowbox { padding-top:20%; }
.onets{padding:46% 0 0 10%; }
.bjinbox .onets span{color:#F49B41;}
.bjinbox .twots{padding:20% 0 0 20%; }
.bjinbox .twots span{color:#F49B41;}
.bjinbox .threets{padding:12% 0 0 60%; }
.bjinbox .threets span{color:#F49B41;}
.bjinbox .frouts{padding:8% 0 0 15%; }
.bjinbox .frouts span{color:#F49B41;}
}
@media screen and (min-width:480px) and (max-width:569px){
.pageinbox { padding:3%;}
.toponname { font-size:1.7em; line-height:2.4em;}
.fnegxiang{ font-size:1.2em; }
.fnegxiang .fxspan { padding:1% 5% ; }
.bjinbox {top:1em; font-size:1.2em;}
.frowbox { padding-top:20%; }
.onets{padding:46% 0 0 10%; }
.bjinbox .onets span{color:#F49B41;}
.bjinbox .twots{padding:20% 0 0 20%; }
.bjinbox .twots span{color:#F49B41;}
.bjinbox .threets{padding:12% 0 0 60%; }
.bjinbox .threets span{color:#F49B41;}
.bjinbox .frouts{padding:8% 0 0 15%; }
.bjinbox .frouts span{color:#F49B41;}	
}
@media screen and (min-width:570px) and (max-width:639px){
.pageinbox { padding:3%;}
.toponname { font-size:1.8em; line-height:2.6em;}
.fnegxiang{ font-size:1.2em; }
.fnegxiang .fxspan { padding:1% 5% ; }
.bjinbox {top:1em; font-size:1.2em;}
.frowbox { padding-top:20%; }
.onets{padding:46% 0 0 10%; }
.bjinbox .onets span{color:#F49B41;}
.bjinbox .twots{padding:20% 0 0 20%; }
.bjinbox .twots span{color:#F49B41;}
.bjinbox .threets{padding:12% 0 0 60%; }
.bjinbox .threets span{color:#F49B41;}
.bjinbox .frouts{padding:8% 0 0 15%; }
.bjinbox .frouts span{color:#F49B41;}		
}
@media screen and (min-width:640px){
.pageinbox { padding:3%;}
.toponname { font-size:2em; line-height:2.8em;}
.fnegxiang{ font-size:1.3em; }
.fnegxiang .fxspan { padding:1% 5% ; }
.bjinbox {top:1em; font-size:1.5em;}
.frowbox { padding-top:15%; }
.onets{padding:46% 0 0 10%; }
.bjinbox .onets span{color:#F49B41;}
.bjinbox .twots{padding:22% 0 0 20%; }
.bjinbox .twots span{color:#F49B41;}
.bjinbox .threets{padding:12% 0 0 60%; }
.bjinbox .threets span{color:#F49B41;}
.bjinbox .frouts{padding:8% 0 0 15%; }
.bjinbox .frouts span{color:#F49B41;}
}



