@charset "utf-8";
/* CSS Document */

body {
	background: #eeeeee;
	margin: 10px 0;
}

.OneBlock {
	font-size: 13px;
}

.ChargeState {
	margin-bottom: 10px;
}

.ChargeState .btn {
	box-shadow: 0 0 10px #CCC;
}

.ChargeState .btn .fa {
	margin-right: 5px;
}

.ChargeNameBlock .Name {
	font-size: 14px;
	text-align: left;
	color: #414a59;
}

table {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}

table tbody td {
	vertical-align: middle;
}

table .Sign {
	text-align: left;
	width: 25px;
	vertical-align: text-top;
}

table .Sign .fa {
	color: #4bd3a5;
}

table span {
	margin: 0 2px;
}

.ChargeNameBlock table td {
	text-align: right;
	color: #4bd3a5;
}