@charset "utf-8";
/* CSS Document */

.Caption h4 {
	font-size: 16px;
	color: #4cd3a6;
	font-weight: normal;
	margin-bottom: 0;
}

.Caption p {
	font-size: 14px;
	color: #989898;
}

.CreditUl {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}

.CreditUl li {
	list-style: none;
}

.CreditUl li a {
	display: block;
	border-left: 5px solid #4bd3a5;
	background: #f1f1f1;
	font-size: 14px;
	line-height: 40px;
	padding-left: 10px;
	text-decoration: none;
	color: #606060;
}

.CreditUl li a img {
	display: inline-block;
	margin-right: 5px;
}

.CreditUl li:nth-of-type(2n) a {
	border-left-color: transparent;
	background: #FFF;
}

.Tips {
	font-size: 12px;
	color: #4bd3a5;
	text-decoration: none;
}

.CaptionBank {
	display: block;
	border-left: 5px solid #4bd3a5;
	background: #f1f1f1;
	font-size: 14px;
	line-height: 40px;
	padding-left: 10px;
	text-decoration: none;
	color: #606060;
	margin: 10px 0;
}

.CaptionBank img {
	display: inline-block;
	margin-right: 5px;
}

.YouxiaoqiButton, .YanzhengButton {
	background: #414a59;
	color: #FFF;
	border-color: #414a59;
	cursor: pointer;
}

.SubmitButton {
	margin-top: 20px;
	margin-bottom: 20px;
}

form .form-group {
	margin-bottom: 0;
}

.help-block {
	color: #F00;
}