@charset "utf-8";
/* CSS Document */
body, html {width: 100%;height: 100%;padding:0; margin:0;font-family:"微软雅黑"; }
ul,li{list-style:none; list-style-type:none;vertical-align:0}
input,button,img{border:0 none;}
input:focus, select:focus, input:active{ outline:none;}
input,textarea{-webkit-appearance:none;}
h1,h2,h3,h4,h5{font-weight:normal;}
table{border-collapse:collapse; border-spacing:0}
em{font-style:normal;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:none;}

/*地图*/
#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;}
/*地图 end*/

.position_box { width:60%; padding:5% 20%; position:fixed; bottom:0; z-index:1000; font-size:0.9em;}

.whistle { float:left; width:30%; margin:10% 10%;}
.whistle img { width:100%;}
.whistle p { width:100%; padding-top:1%; margin-top:1%; text-align:center;}
.navigation { float:left; width:30%; margin:10% 10%;}
.navigation img { width:100%;}
.navigation p { width:100%; padding-top:1%; margin-top:1%; text-align:center;}
.positionintext { display:none; width:40%; position:fixed; top:47%; padding:2% 0%; margin:auto 30%; text-align:center; background:#000; color:#FFF;filter: Alpha(Opacity=7); opacity: 0.7; border-radius:0.7em; z-index:1010; font-size:1.2em; }



@media screen and (min-width:360px) and (max-width:409px){
.position_box {font-size:1em;}
.positionintext {font-size:1.2em;}
}
@media screen and (min-width:410px) and (max-width:639px){
.position_box {font-size:1.2em;}
.positionintext {font-size:1.5em;}
}

@media screen and (min-width:640px){
.position_box {font-size:1.4em;}
.positionintext {font-size:1.7em;}
}