@charset "utf-8";
/* CSS Document */
body,div,article,section,header,footer,figure,p,time,ul,li,form,input,button,select,table,tr,th,td,h1,h2,h3,h4,h5,dl,dt,dd{
	margin:0;
	padding:0;
	font-family: "微软雅黑", 'Microsoft Yahei','HelveticaNeue',sans-serif;	
}

body{background-color:#ffffff;}
ul,li{list-style:none;}
button{border:0 none;}
input:focus, select:focus, input:active{ outline:none;}
h1,h2,h3,h4,h5{font-weight:normal;}
em{font-style:normal;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.clearfix:after{content:""; display:block; clear:both; height:0; font-size:12px;}
.txtl{text-align:left !important;}
.txtc{text-align:center !important;}
.txtr{text-align:right !important;}
.txt_in1{text-indent: 1em;}
.txt_in2{text-indent: 2em;}
.f_red{color: #ff3333 !important;}
.fl{ float:left;}
.fr{ float:right;}
.d_none{ display:none;}
.d_line{ display: inline;}
/*登录*/
.header { width:100%; text-align:center; color:#000000; background:#fcfcfc; height:2.8em; line-height:2.8em; font-size:2em;}
.logobox { width:100%; border-top:1px solid #ebebeb;}
.logobox img { width:20%; margin:15% 40%;}
.login_into { width:70%; margin:0 15%;}
.login_into td { border-bottom:1px solid #ebebeb; padding:3% 0 1% 0; }
.login_into td img { width:100%;}
.login_into td input { width:90%; height:2em; line-height:2em; color:#666666; border:0; font-size:2em;}
.login_into th input { width:99%; height:2.8em; line-height:2.8em; font-size:2em; color:#ffffff; background:#1CC49E;  margin-top:15%; border-radius:0.3em;}
.error { color:#F00; float:left; padding:2% 0 2% 11%; font-size:1.5em;}
/*登录 end*/
/*首页*/
.hometop_pic { width:100%;  position:relative;}
.hometop_pic img{ width:100%;}
.home_option .array_1 { float:left; width:50%; border-bottom:1px solid #eeeeee; background:url(../imges/home_xian.png) right repeat-y;}
.home_option .array_1 a img { width:40%; padding:10% 30% 0% 30%;}
.home_option .array_1 a .intixt { width:100%; padding:1% 0 10% 0; color:#000000; text-align:center;}
.home_option .array_2 { float:left; width:50%; border-bottom:1px solid #eeeeee;}
.home_option .array_2 a img { width:40%; padding:10% 30% 0% 30%;}
.home_option .array_2 a .intixt { width:100%; padding:1% 0 10% 0; color:#000000; text-align:center;}
.hometop_pic .onlisttext{ position:absolute; color:#FCF300; font-size:1.3em; z-index:10;left:40%; top:30%; }
.home_option { float:left; width:100%; font-size:1.3em;}
/*首页 end*/
/* headers */
.headers{z-index: 2;position: relative; line-height: 2.8em; text-align: center; font-size: 2em;color: #000000; background:#fcfcfc; border-bottom:1px solid #EBEBEB;}
.headers .back{ display: block; position: absolute; top:0 ; left: 0; width: 2.5em; height: 2.6em;  background:url(../imges/vehicle_l.png) center no-repeat; background-size:auto 45%;}
.headers .on_list{ width:20%; display: block; position: absolute;  top:0.7em ; right: 0.7em; background:#f7f7f7; padding:0 1.3%; border-radius:1em;}
.headers .on_list .se_lect{ width:100%; background:#f7f7f7;  height:1.4em; line-height:1.4em; margin:5% 0; text-align:center; border:0; font-size: 0.6em;}
.headers .on_list .se_lect .optionss { font-size:0.1em; padding:1em 0; margin:30em 0;text-align:center;}
/*headers end*/

/*车辆管理*/
.vehicle_top { width:99%; border-top:1px solid #ededed; padding:1em 0.4%;}
.vehicle_top input { width:100%; padding:0.6em 0; border-radius:3em; text-align:center; font-size:1.3em;}
.vehicle_county {float:left; width:100%; border-top:1px solid #ededed; background:#ffffff; font-size:1.1em;}
.vehicle_county .vehicle_line {float:left; width:100%; border-bottom:1px solid #ededed;padding:5% 0; }
.vehicle_county .vehicle_line .plates { float:left; width:24%;  padding:1% 1%;}
.vehicle_county .vehicle_line .powers { float:left; width:11%;  padding:1% 2% 1% 4%; background:url(../imges/dianchi.png) left center no-repeat; background-size:auto 100%; }
.vehicle_county .vehicle_line .powerscharge { float:left; width:11%;  padding:1% 2% 1% 4%; background:url(../imges/charging.jpg) left center no-repeat; background-size:auto 100%; }
.vehicle_county .vehicle_line .orderanniu { float:left;  padding:1% 2%; text-align:center; border:1px solid #1CC49E; color:#1CC49E; margin:0 2%; border-radius:0.3em; }
.search_no {margin-top:30%; text-align:center; color:#333333; font-size:1.1em;}

/*下单*/
#bg{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.7;  opacity:.70;  filter: alpha(opacity=70);}
#shows{ display: none; position: absolute;  top: 15%;  left: 10%;  width: 80%;  height:50%;background-color:#ffffff;  border-radius:0.2em;  z-index:1002;  overflow: auto;font-size:1.7em;}
.show_top { width:100%; text-align:center; height:2.2em; line-height:2.2em;  background:#f7f7f7; border-top-left-radius:0.2em; border-top-right-radius:0.2em;}
.show_top span { position:absolute; height:1.2em; width:1.2em; padding:0.5em; right:0; cursor: pointer;}
.show_top span img { width:100%; height:100%;}
.show_count { width:94%; padding:5% 3%;height:55%; overflow-y:auto;}
.show_count .linees{ width:100%; padding:1% 0; }
.show_count .linees .input_r { width:0.8em; height:0.8em; font-size:1em; padding:1%;}
.show_count .input_te { width:70%; font-size:1em; margin-left:5%; border:1px solid #999999; padding:1% 0;}
.show_count input:focus, input:active{ border:1px solid #19AB53;}
.show_count .linees label {margin-left:2%;}
.submitlk {width:50%; margin:5% 25%; vertical-align:middle; color:#ffffff; padding:2% 0;  cursor:pointer; background:#1CC49E; border:0; border-radius:0.3em; font-size:1em;}
/*操作*/
#bg_2{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.7;  opacity:.70;  filter: alpha(opacity=70);}
#chaozuo{ display: none; position:absolute;  bottom:0; width: 90%; padding:5%; background-color:#ffffff;  border-radius:0.2em;  z-index:1002;  overflow: auto;font-size:1.7em;}
.chaozuo_dsp { float:left; width:25%; margin:4%; }
.chaozuo_dsp .chao_list { width:80%; padding:10%;}
.chaozuo_dsp .chao_list img { width:100%;}
.chaozuo_dsp .chao_text { width:100%; color:#000000; text-align:center; padding:2% 0;}
/*还车*/
#bg_3{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.7;  opacity:.70;  filter: alpha(opacity=70);}
#huanche{ display: none; position: absolute;  top: 15%;  left: 10%;  width: 80%; height:55%; background-color:#ffffff;  border-radius:0.2em;  z-index:1002;  overflow: auto;font-size:1.7em;}
.huanche_top { width:100%; text-align:center; height:2.2em; line-height:2.2em;  background:#f7f7f7; border-top-left-radius:0.2em; border-top-right-radius:0.2em;}
.huanche_top span { position:absolute; height:1.2em; width:1.2em; padding:0.5em; right:0; cursor: pointer;}
.huanche_top span img { width:100%; height:100%;}
.huanche_count { width:94%; padding:5% 3%; height:55%; overflow-y:auto;}
.huanche_count .linees{ width:100%; padding:1% 0; }
.huanche_count .linees .input_r { width:0.8em; height:0.8em; font-size:1em; padding:1%;}
.show_count .input_te { width:70%; font-size:1em; margin-left:5%; border:1px solid #999999; padding:1% 0;}
.show_count input:focus, input:active{ border:1px solid #19AB53;}
.show_count .linees label {margin-left:2%;}
.submitlk_f {width:50%; margin:5% 25%; vertical-align:middle; color:#ffffff; padding:2% 0;  cursor:pointer; background:#1CC49E; border:0; border-radius:0.3em; font-size:1em;}
/*操控*/
.car_lps { width:100%; background:#ffffff; padding:5% 0; margin-top:3%; border-bottom:1px solid #EBEBEB; border-top:1px solid #EBEBEB;}
.car_lps .pic_car { width:20%; margin:1% 40%;}
.car_lps .pic_car img { width:100%;}
.car_lps .text_car { width:100%; text-align:center; font-size:1.7em;}
.control_box { width:100%; background:#ffffff; margin-top:3%; border-top:1px solid #EBEBEB;  font-size:1.6em;}
.control_box .control_1 { float:left; width:50%; border-bottom:1px solid #eeeeee; background:url(../imges/home_xian.png) right repeat-y;}
.control_box .control_1 a img { width:40%; padding:5% 15% 0% 15%; margin:5% 15% 0 15%;}
.control_box .control_1 a .intixt { width:70%; padding:1% 0 5% 0; margin:0 15% 5% 15%; color:#000000; text-align:center;}
.control_box .control_2 { float:left; width:50%; border-bottom:1px solid #eeeeee;}
.control_box .control_2 a img { width:40%; padding:5% 15% 0% 15%; margin:5% 15% 0 15%;}
.control_box .control_2 a .intixt { width:70%; padding:1% 0 5% 0; margin:0 15% 5% 15%; color:#000000; text-align:center;}
/*操控订单*/
.order_sz{ width:90%; margin:0 5%; padding:2% 0 0 0; font-size:2em;}
.control_order { float:left; width:100%; background:#ffffff; margin-top:3%; border-top:1px solid #EBEBEB; vborder-bottom:1px solid #EBEBEB; font-size:1.3em; padding-bottom:2%;}
.control_order .order_line { float:left; width:100%; border-bottom:1px solid #EBEBEB; padding:2% 0;}
.control_order .order_line span {padding:0 2%;}
.control_order .order_line span img { width:4%; vertical-align:middle; }
.control_order .order_line a{ float:right; margin-right:2%; color:#FF9416;}
.control_order .order_line_n { float:left; width:90%; padding:2% 2% 2% 8%;}
.control_order .order_line_n span { width:2%;}
.control_order .order_line_n span img {width:5%; vertical-align:middle;}
.control_order .order_line_n a {text-decoration:underline; color:#1CC49E;}
/*站点管理*/
.site_box {float:left; width:94%; background:#ffffff; margin-top:3%; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; font-size:1.5em; padding:3%;}
.site_box .site_left { float:left; width:80%; }
.site_box .site_left .intotex {width:100%; padding:1% 0;}
.site_box .site_left .intotex span { background:#FB9C2C; color:#ffffff; padding:1% 2%; border-radius:0.2em; margin-left:2%;}
.site_box .site_left .intot { color:#666666; font-size:0.9em;}
.site_box .site_left .intotline { float:left; width:33%; padding-top:3%; font-size:1em;}
.site_box .site_left .intotline span {float:left; width:10%; padding:2% 2% 2% 0; }
.site_box .site_left .intotline span img {width:100%;vertical-align:middle;}
.site_box .site_left .intotline a {color:#249FFE;}
.site_box .site_right {float:left; width:20%; }
.site_box .site_right img {width:30%; margin:10% 35% 0 35% ;  }                                                                                                                                  
.site_box .site_right a {float:left; width:100%; text-align:center; color:#1CC49E;  }

/*通知*/
.control_notice { float:left; width:100%; background:#ffffff; margin-top:3%; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; font-size:1.3em; padding-bottom:2%;}
.control_notice .notice_line { float:left; width:100%; border-bottom:1px solid #EBEBEB; padding:2% 0;}
.control_notice .notice_line span {padding:0 2%;}
.control_notice .notice_line span img { width:4%; vertical-align:middle; }
.control_notice .notice_line a{ float:right; margin-right:2%; color:#999999;}
.control_notice .notice_line_n { float:left; width:90%; padding:2% 2% 2% 8%;}
/*个人中心*/
.personal_box{width:94%; background:#ffffff; color:#000000; margin-top:3%; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; font-size:1.3em; padding:3%;}
.personal_box span{position:absolute; height:1.5em; width:1.5em; padding:0em; right:0; cursor: pointer;}
.personal_box span img { width:100%;}
.password_box {width:100%; background:#ffffff; color:#000000; margin-top:3%; border-top:1px solid #EBEBEB; }
.password_box .password_line {width:94%; padding:0% 3%; border-bottom:1px solid #EBEBEB;}
.password_box .password_line input { width:80%; border:0; padding:2% 0; font-size:1.5em; }
.submitpass {width:80%; margin:5% 10%; vertical-align:middle; color:#ffffff; padding:2% 0;  cursor:pointer; background:#1CC49E; border:0; border-radius:0.3em; font-size:1.5em;}

/*地图*/
#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;}
/*地图 end*/






@media screen and (min-width:360px) and (max-width:409px){
.header { height:2.8em; line-height:2.8em; font-size:2em;}
.login_into td input {font-size:2em;}
.login_into th input {height:2.8em; line-height:2.8em;font-size:2em; }
.hometop_pic .onlisttext{ font-size:1.5em;}	
.home_option {font-size:1.5em;}
.vehicle_top input {font-size:1.3em;}
.vehicle_county {font-size:1.1em;}
.search_no {font-size:1.1em;}

}
@media screen and (min-width:410px) and (max-width:639px){
.header { height:3em; line-height:3em; font-size:2.2em;}
.login_into td input {font-size:2.2em;}
.login_into th input {height:3em; line-height:3em;font-size:2.2em; }
.hometop_pic .onlisttext{ font-size:1.7em;}	
.home_option {font-size:1.7em;}	
.vehicle_top input {font-size:1.5em;}
.vehicle_county {font-size:1.3em;}
.search_no {font-size:1.3em;}

}

/*@media screen and (min-width:500px) and (max-width:639px){
.header { height:3em; line-height:3em; font-size:1.5em;}
.hometop_pic .onlisttext{ font-size:1.2em;}	
.home_option {font-size:1.2em;}		

}*/
@media screen and (min-width:640px){
.header { height:3.2em; line-height:3.2em; font-size:2.4em;}
.login_into td input {font-size:2.4em;}
.login_into th input {height:3.2em; line-height:3.2em;font-size:2.4em; }
.hometop_pic .onlisttext{ font-size:2em;}	
.home_option {font-size:2em;}		
.vehicle_top input {font-size:1.7em;}
.vehicle_county {font-size:1.5em;}
.search_no {font-size:1.5em;}

}
